<style type="text/css">
    ul {
        list-style-type: none;
    }
    li {
        background-color: tan;
        padding: 2px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <h1>The Burger Logger!</h1>
    </div>

    <div class="row">
        <form class="col-3 newBurger">
            New Burger:<br>
            <input class="mt-2" type="text" name="burger_name" placeholder="Big Mac">
            <br>
            <input class="mt-2" type="submit" value="Submit">
        </form>
    </div>

    <div class="row mt-4 justify-content-center">
        <ul class="col-3 uneatenDisplay">
            <h3>Fresh Burgers</h3>
            {{#each uneatenBurgers}}
            <li class="mt-2">
                <button data-id={{id}} class="eatBurger">Eat</button>
                {{burger_name}}
            </li>
            {{/each}}
        </ul>

        <ul class="col-3 eatenDisplay">
            <h3>Eaten Burgers</h3>
            {{#each eatenBurgers}}
            <li class="mt-2">{{burger_name}}</li>
            {{/each}}
        </ul>
    </div>
</div>

<script src="client.js"></script>